# Ignore configuration files
.tsconfig.json
.prettierrc
.eslintrc.js
.eslintignore

# Ignore development tools and tests
node_modules/
**/*.spec.ts
**/*.test.ts
jest.config.js
coverage/
__test__/

# Ignore development documentation
README-dev.md

# Source files (if you're distributing the compiled code)
src/

# Any logs or databases
*.log
*.sqlite

# System files
.DS_Store
*.swp
*.swo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env